<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img
      src="/images/PngItem_1381056.png"
      alt="logo"
      width="35px"
      style="display: inline; text-align: center"
    />
    <h1 style="text-align: center; display: inline">ROTTEN TOMATOES</h1>

    <form action="get" style="text-align: center">
      <label for="search">Search</label>
      <input
        type="search"
        name="search"
        id="search"
        placeholder="Search movies,TV actors, more"
        required
      />
      <input type="submit" value="Search" />
    </form>
    <nav>
      <ul>
        <li>
          <a
            href="https://www.rottentomatoes.com/browse/movies_in_theaters/"
            target="_blank"
            >MOVIES</a
          >
        </li>
        <li>
          <a
            href="https://www.rottentomatoes.com/browse/tv_series_browse/sort:popular"
            target="_blank"
            >TV SHOWS</a
          >
        </li>
        <li>
          <a href="https://editorial.rottentomatoes.com/" target="_blank"
            >NEWS</a
          >
        </li>
        <li>
          <a href="https://www.fandango.com/movies-in-theaters" target="_blank"
            >SHOWTIMES</a
          >
        </li>
      </ul>
    </nav>
    <main style="text-align: center">
      <section>
        <h2>NEW & UPCOMING MOVIES</h2>
        <article>
          <span
            style="display: inline-block; width: 200px; padding-bottom: 20px"
          >
            <h3>The Super Mario Bros. Movie</h3>
            <img
              height="225px"
              src="/images/download.jpg"
              alt="SuperMarioBros"
            />
          </span>
          <span style="display: inline-block; width: 200px">
            <h3>Renfield</h3>
            <img height="225px" src="/images/Renfield.jpg" alt="Renfield" />
          </span>
          <span style="display: inline-block; width: 200px">
            <h3>Suzume</h3>
            <img height="225px" src="/images/Suzume.jpg" alt="Suzume" />
          </span>
        </article>
      </section>

      <section>
        <h2>WARNER BROS: 100 YEARS, 100 ESSENTIAL MOVIES</h2>
        <article>
          <span style="display: inline-block; width: 200px">
            <h3>The Shawshank Redemption</h3>
            <img
              height="225px"
              src="/images/ShawshankRedemption.jpg"
              alt="ShawshankRedemption"
            />
          </span>
          <span style="display: inline-block; width: 200px">
            <h3>Goodfellas</h3>
            <img height="225px" src="/images/GoodFellas.jpg" alt="Goodfellas" />
          </span>
          <span style="display: inline-block; width: 200px">
            <h3>Casablanca</h3>
            <img height="225px" src="/images/Casablanca.jpg" alt="Casablanca" />
          </span>
        </article>
      </section>
      <div>
        <h2>Trailers</h2>
        <h3>The Super Mario Bros. Movie Trailer</h3>
        <video
          style="width: 350px"
          src="/videos/The Super Mario Bros. Movie _ Final Trailer.mp4"
          controls
        ></video>
      </div>
      <div>
        <h3>Location</h3>
        <iframe src="" frameborder="0"></iframe>
        <iframe
          width="300px"
          height="300px"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=41.98850402130127%20,%2021.451503038406372+(My%20Business%20Name)&amp;t=&amp;z=2&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ><a href="https://www.maps.ie/distance-area-calculator.html"
            >measure area map</a
          ></iframe
        >
      </div>
    </main>
  </body>
</html>
